.container {
    width: 100dvw;
    padding: 20px;
    display: flex;
  }
  
  .restaurant-floor {
    border: dotted #ccc 2px;
  }
  
  .add-table-button {
    margin: 0px 10px 10px;
  }
  
  .table {
    width: 100px;
  }