<app-navbar [user]="user"></app-navbar>
<h2 class="my-2 mx-2">Process Payment</h2>

<div class="page-container border border-2 border-green">
    <div class="flex justify-center">
        @if (billArr) {
            @for (billObj of billArr; track $index) {
                <div class="single-split-item border rounded-md mx-3 my-2 p-2 text-xs">
                    <p>OrderId <strong>#{{ billObj.orderId }}</strong></p>
                    <p>ID: {{ billObj.splitId }}</p>
                    <p>Total: {{ billObj.total }}</p>
                    <p>Paid: {{ billObj.paid }}</p>
                    <p>Mode  of Payment: {{ billObj.pmtMode }}</p>
                    
                </div>
            }
        }
    </div>


</div>