<!-- <div class="spin-div">
  <nz-spin [nzSpinning]="isReservationLoaded" nzSize="large"></nz-spin>
</div> -->

<h2 class="ml-4">Reservation List: 
  <span>
  @if (todaysReservationList) {
  <!-- @if (reservationList) { -->
    {{getDate(todaysReservationList[0].startTime)}}
    <!-- {{getDate(reservationList[0].startTime)}} -->
  }  
  </span>
</h2>
@if (todaysReservationList) {
    <nz-table #basicTable [nzData]="todaysReservationList">
        <thead>
          <tr>
            <th>Reservation ID</th>
            <th>Customer ID</th>
            <th>Table Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Current Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data._id }}</td>
            <td>{{ data.userId }}</td>
            <!-- <td>{{ getTableName(data.tableId) }}</td> -->
            <td>{{ data.tableId }}</td>
            <td>{{ formatDateToString(data.startTime) }}</td>
            <td>{{ formatDateToString(data.endTime) }}</td>
            <td>{{ data.status }}</td>
            <td>
              <a (click)="handleStatusChange(data)">Action 一 No-Show</a>

              <!-- <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a> -->
            </td>
          </tr>
        </tbody>
      </nz-table>
}
