<div class="container">
    @if (selectedTable) {
    <div class="order-container">
      <div class="back-container">
        <button nz-button (click)="setSelectedTable(null)">
          <span nz-icon nzType="left" nzTheme="outline"></span>Back
        </button>
      </div>
      <h2>{{ selectedTable.name }}</h2>
      <!-- <p>Take orders here.</p> -->
      
    </div>
    } @else {
    <h1>Table Selection</h1>
    <p>Select a table to take their order.</p>
    <div class="restaurant-floor">
      <ko-stage [config]="configStage">
        <ko-layer>
          @for (table of tables; track $index) {
          <ko-image
            [config]="table.config"
            (click)="setSelectedTable(table.info)"
          ></ko-image>
          <ko-text
            [config]="{
              text: table.info.name,
              x: table.config.x,
              y: table.config.y
            }"
          ></ko-text>
          }
        </ko-layer>
      </ko-stage>
    </div>
    }
  </div>
  