.container {
    width: 100dvw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.restaurant-floor {
    border: dotted #ccc 2px;
}
  
.order-container {
    width: 50dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.back-container {
    width: 100%;
}