.table-container {
    display: flex;
    max-width: 85dvw;
    flex-wrap: wrap;
    min-height: 10dvh;
    border: 2px solid #8492a6;
    border-radius: 0.25rem;
}

.table-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 120px;
    transition: background-color 0.3s;
}

.table-block:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}