<div class="py-4 px-4 hp-50 border border-gray rounded">
    <h2>Table Selector and Editor</h2>
    <div class="flex">
        @for (table of tables; track $index) {
            <div class="table-block my-4 mx-4 text-center rounded-md" (click)="setSelectEditTable(table)">
                <p>{{table.name}}</p>
                <p>Seats: {{table.seats}}</p>
            </div>
        }
    </div>
</div>

@if (selectedTableToEdit) {
    <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="editVisible"
      nzTitle="Edit/Delete Table"
      [nzFooter]="footerTpl"
      (nzOnClose)="closeEditDrawer()"
    >
      <form nz-form *nzDrawerContent>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Name</nz-form-label>
              <nz-form-control>
                <input
                    nz-input
                    name="name"
                    type="text"
                    id="name"
                    [(ngModel)]="selectedTableToEdit.name"
                    [readonly] = "true"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Type</nz-form-label>
              <nz-form-control>
                <nz-select name='table-type' [nzPlaceHolder]="selectedTableToEdit.type" [(ngModel)]="selectedTableToEdit.type">
                    @for (type of tableTypes; track $index) {
                        <nz-option [nzLabel]="type" [nzValue]="type"></nz-option>
                    }
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Seats</nz-form-label>
              <nz-form-control>
                <input
                    nz-input
                    name="seats"
                    type="number"
                    id="seats"
                    [(ngModel)]="selectedTableToEdit.seats"
                    min="1"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>

      <ng-template #footerTpl>
        <div style="float: left">
            <button nz-button nzType="primary" nzDanger (click)="deleteTable(selectedTableToEdit); closeEditDrawer()">Delete</button>
        </div>
        <div style="float: right">
          <button nz-button style="margin-right: 8px;" (click)="closeEditDrawer()">Cancel</button>
          <button nz-button nzType="primary" (click)="updateTable(selectedTableToEdit); closeEditDrawer()">Submit</button>
        </div>
      </ng-template>
    </nz-drawer>
}


<div class="py-5 px-4">
    <h2>Create Table</h2>
    <button nz-button nzType="primary" class="add-table-button my-4" (click)="openTableAddDrawer()">
        Add New Table
    </button>
    <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="adderVisible"
      nzTitle="Create Table"
      [nzFooter]="footerTpl"
      (nzOnClose)="closeAdderDrawer()"
    >
    <form nz-form *nzDrawerContent>
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>Name</nz-form-label>
                <nz-form-control>
                  <input
                      nz-input
                      name="name"
                      type="text"
                      id="name"
                      [value]="newTableName"
                      [readonly] = "true"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>Type</nz-form-label>
                <nz-form-control>
                  <nz-select name='table-type' nzPlaceHolder="Select Table type" [(ngModel)]="newTableType">
                      @for (type of tableTypes; track $index) {
                          <nz-option [nzLabel]="type" [nzValue]="type"></nz-option>
                      }
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>Seats</nz-form-label>
                <nz-form-control>
                  <input
                      nz-input
                      name="seats"
                      type="number"
                      id="seats"
                      [(ngModel)]="newTableSeats"
                      min="1"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
    </form>

    <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button style="margin-right: 8px;" (click)="closeAdderDrawer()">Cancel</button>
          <button nz-button nzType="primary" (click)="addNewTable(newTableName, newTableType, newTableSeats); closeAdderDrawer()">Submit</button>
        </div>
      </ng-template>
    </nz-drawer>
</div>