.table-container {
    display: flex;
    max-width: 85dvw;
    flex-wrap: wrap;
}

.table-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.table-block:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}