<div class="main-div py-4 px-4 hp-50">
        <nz-spin [nzSpinning]="isTableLoaded" nzSize="large" nzTip="Loading Tables">
            <h2>Table Viewer</h2>
            <div class="table-container">
                @for (table of tables; track $index) {
                    <div class="table-block p-4 m-4 text-center rounded-md" 
                    (click)="setSelectedTable(table)"
                    [ngStyle]="{ 'background-color': getStatusColor(table.status), 'min-width': '120px', 'cursor': 'pointer' }"
                    >
                        <p><strong>{{table.name}}</strong></p>
                        <p>Seats: {{table.seats}}</p>
                        <img [src]="getTableImage(table)" />
                    </div>
                }
            </div>
            <div class="notify-button">
                <button nz-button nzType="primary" (click)="openPanel()">
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                </button>
            </div>
        </nz-spin>
</div>


<!-- Drawer for Notifications -->
<nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="850"
      [nzVisible]="notificationVisible"
      nzTitle="Notifications Panel"
      [nzFooter]="footerTpl"
      (nzOnClose)="closePanel()"
    >
    <ng-container *nzDrawerContent>
        @if (ongoingTableLogs) {
            <nz-table #basicTable [nzData]="ongoingTableLogs.data">
                <thead>
                  <tr>
                    <th>Table Name</th>
                    <th>Order ID</th>
                    <th>Current Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.tableInfo[0].name }}</td>
                    <td>{{ data.orderId }}</td>
                    <td>
                        <nz-tag [nzColor]="getOrderStatusColor(data.orderInfo[0].status)">
                            {{ data.orderInfo[0].status | uppercase }}
                        </nz-tag>
                    <td>
                      <a (click)="moveToOrderPage(data)">To Order Page</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
        }
    </ng-container>

    <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button nzType="primary" nzDanger="true" (click)="closePanel()">Close</button>
        </div>
    </ng-template>
</nz-drawer>


<!-- Drawer for Table Info and Status Change -->
<nz-drawer *ngIf="selectedTable"
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="visible"
      nzTitle="View Table"
      [nzFooter]="footerTpl"
      (nzOnClose)="close()"
    >
    <ng-container *nzDrawerContent>
        <nz-descriptions [nzColumn]="2" nzTitle="Table Info">
          <nz-descriptions-item nzTitle="Table Number" [nzSpan]="1">{{ selectedTable.name }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Type" [nzSpan]="1">{{ selectedTable.type | uppercase}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Seats" [nzSpan]="1">{{ selectedTable.seats }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Status" [nzSpan]="1">{{ selectedTable.status }}</nz-descriptions-item>
        </nz-descriptions>
        <nz-divider></nz-divider>
        <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Status</nz-form-label>
              <nz-form-control>
                <nz-select name='status-type' nzPlaceHolder="Please select status" [(ngModel)]="selectedStatus" >
                    @for (type of statusTypes; track $index) {
                        @if (selectedStatus === 'reserved') {
                            @if (type === 'closed') {
                                <nz-option [nzLabel]="type" [nzValue]="type" [nzDisabled]="true"></nz-option>
                            }
                            @else {
                                <nz-option [nzLabel]="type" [nzValue]="type"></nz-option>
                            }
                        } 
                        @else if (selectedStatus === 'closed') {
                            @if (type === 'occupied' || type === 'reserved') {
                                <nz-option [nzLabel]="type" [nzValue]="type" [nzDisabled]="true"></nz-option>
                            }
                            @else {
                                <nz-option [nzLabel]="type" [nzValue]="type"></nz-option>
                            }
                        }
                        @else if (selectedStatus === 'occupied') {
                            @if (type === 'reserved' || type === 'closed') {
                                <nz-option [nzLabel]="type" [nzValue]="type" [nzDisabled]="true"></nz-option>
                            }
                            @else {
                                <nz-option [nzLabel]="type" [nzValue]="type"></nz-option>
                            }
                        } 
                        @else {
                            <nz-option [nzLabel]="type" [nzValue]="type"></nz-option>
                        }
                    }
                </nz-select>
            </nz-form-control>
            <button nz-button nzType="default" (click)="changeTableStatus()">Update Status</button>
            </nz-form-item>
        </div>

        <div class="flex justify-center">
            <img [src]="getSelectedTableImage()" alt="Selected table" />
        </div>
        
        <div class="mt-10 flex justify-between">
            @if (selectedTable.status === 'occupied') {
                <div>
                    <button nz-button nzType="primary" (click)="proceedToOrder()">ORDER</button>
                </div>

            }
            @if (selectedTable.status === 'occupied' || selectedTable.status === 'reserved') {
                <div>
                    <button nz-button nzType="primary" (click)="selectCustomerForOrder()">ADD CUSTOMER</button>
                </div>
            }
        </div>

    </ng-container>

    <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
          <button nz-button nzType="primary" (click)="close()">Save</button>
        </div>
    </ng-template>
</nz-drawer>