.main-div {
    position: relative;
}

.table-container {
    display: flex;
    max-width: 85dvw;
    flex-wrap: wrap;
}

.table-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.table-block:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}

.notify-button {
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    z-index: 900;
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30vh; Adjust this if needed to make it the full height of the viewport */
}

.spin-div {
    position: absolute;
    top: 70%;
    left:50%;
    transform: translate(70%, -50%);
}