.page-container {
    margin-left: 10px;
    margin-right: 10px;
    height: 85dvh;
    display: flex;
    flex-direction: column;
    /* border: red solid 1px; */
}

.payment-split-block {
    margin-top: 10px;
    min-height: rem;
    width: 98dvw;
    min-width: 50rem;
    box-sizing: border-box;
    border: 2px solid #0c0c0c;
    border-radius: 5px;
}

.single-split-item {
    background-color: #eceff1;
    height: fit-content;
}

.items-cart-block {
    margin-top: 10px;
    height: 18rem;
    width: 98dvw;
    min-width: 50rem;
    box-sizing: border-box;
    border: 2px solid #0c0c0c;
    border-radius: 5px;
    flex-grow: 1;
}

.bill-display-block {
    margin-top: 10px;
    height: 2.5rem;
    width: 98dvw;
    min-width: 50rem;
    box-sizing: border-box;
    border: 2px solid #0c0c0c;
    border-radius: 5px;
}

.button-components {
    margin-top: 10px;
    height: 5rem;
    width: 98dvw;
    min-width: 50rem;
    box-sizing: border-box;
    border: 2px solid #0c0c0c;
    border-radius: 5px;
}