<!-- <p>navbar works!</p> -->

<!-- <div class="navbar-container">
  <h2 nz-typography nzType="secondary">Bento-POS</h2>

  <div class="button-container">
    <button nz-button class="nav-button" [nzGhost]="true" routerLink="/table-setter">Tables</button>
    <button nz-button class="nav-button" [nzGhost]="true" routerLink="/order">Order</button>
  </div>
</div> -->

<!-- <div class="navbar-container px-10">
  <img  class='w-64' src="../../../assets/logo/logo-1.png" alt="bento-logo">

  <div>
    <button nz-button nzType="primary">Logout</button>
  </div>
</div> -->



<div
  class="flex justify-between items-center border border-light-gray border-l-0 border-r-0 px-4 py-2"
>
  <div>
    <img
      class="w-24 cursor-pointer"
      src="../../../assets/logo/logo-1.png"
      alt=""
    />
  </div>

  <button nz-button nzType="primary" (click)="logout()">Logout</button>

</div>