<app-navbar [user]="user"></app-navbar>
<h2 class="px-2 pt-2">Order Management</h2>
<div class="flex justify-between">
  <h3 class="px-4">@if (orderId) {
    Order ID #{{orderId}}
    <span class="ml-2">
      <nz-tag [nzColor]="getOrderStatusColor()">
        {{orderStatus | uppercase }}
      </nz-tag>
    </span>
  }
  </h3> 
  
  @if (orderStatus === 'ready') {
    <button class="mr-5" nz-button nzType="primary" (click)="updateOrderStatus()" nzShape="round">Order Ready to Serve</button>
  }
</div>

<div class="order-page-container px-2">
    <div class="full-menu-container">      
      <nz-tabset 
        nzCentered
        [nzTabBarGutter]="60"
        [nzAnimated]="false"
        (nzSelectedIndexChange)="handleTimeTabChange($event)"
      >

      <nz-tab nzTitle="All Items">

        <div class="menu-items-container">
          @if (menuList) {
            @for (item of menuList; track $index) {
              <div class="item-block my-4 mx-4 text-center rounded-md" (click)="addToCart(item)">
                <img [src]="item.item.itemImage ? item.item.itemImage : '../../../assets/svg/knife-and-fork.svg'" alt="food image" style="width: 60%; height: 60%; object-fit: cover;" class="rounded-md" />
                <p><strong>{{item.item.itemName}}</strong></p>
                <p>${{item.item.itemPrice}}</p>
              </div>
            }
          }
        </div>

      </nz-tab>
        <nz-tab *ngFor="let time of timeOfDays" [nzTitle]="time">
          <nz-tabset 
            nzCentered 
            [nzTabBarGutter]="60"
            (nzSelectedIndexChange)="handleCategoryTabChange($event)"
            [nzSelectedIndex]="getTimeOutDayIndex()"
            
          >
            <nz-tab *ngFor="let category of filteredCategories" [nzTitle]="category.categoryName">
              <div class="menu-items-container">
                @if (filteredMenu) {
                  @for (item of filteredMenu; track $index) {
                    <div class="item-block my-4 mx-4 text-center rounded-md" (click)="addToCart(item)">
                      <img [src]="item.item.itemImage ? item.item.itemImage : '../../../assets/svg/knife-and-fork.svg'" alt="food image" style="width: 60%; height: 60%; object-fit: cover;" class="rounded-md">
                      <p><strong>{{item.item.itemName}}</strong></p>
                      <p>${{item.item.itemPrice}}</p>
                    </div>
                  }
                }
              </div>
            </nz-tab>
          </nz-tabset>
        </nz-tab>
      </nz-tabset>
    </div>
    <div class="order-cart-container flex flex-col">
      <h3 class="px-2 pt-2 self-center text-xl font-bold">
        Order Summary
        <span class="ml-3"> | </span>
        <span class="ml-3">{{tableName}}</span>
      </h3>
      <div class="grow overflow-y-auto">
        @for (cartItem of orderCart; track $index) {
            <div class="flex justify-between mx-3 my-5">
              <div class="grow">
                <div class="w-full flex justify-between">
                  <div><strong>{{cartItem.item.itemQuantity}} × {{cartItem.item.itemName}}</strong></div>
                  <div class="mx-5">${{cartItem.item.itemPrice}}</div>
                </div>
                
                @if (cartItem.item.chosenOptions) {
                  @for (option of cartItem.item.chosenOptions.add; track $index) {
                    <div class="w-full flex justify-between text-green">
                      <div class="mx-5">+ {{option.ingredientName}}</div>
                      <div class="mx-5 text-green">+ ${{(option.costPerUnit * option.quantity).toFixed(2)}}</div>
                    </div>
                  }

                  @for (option of cartItem.item.chosenOptions.no; track $index) {
                    <div class="w-full flex justify-between text-red">
                      <div class="mx-5">- {{option.ingredientName}}</div>
                      <div class="mx-5 text-red">- ${{(option.costPerUnit * option.quantity).toFixed(2)}}</div>
                    </div>
                  }
                }

                @if (cartItem.item.optionalNotes) {
                  <i class="mx-5">Notes: {{cartItem.item.optionalNotes}}</i>
                }
              </div>

              <div>
                <button class="mr-2" nz-button nzShape="circle" nzSize="small" (click)="editCartItem(cartItem)">
                  <span nz-icon nzType="edit" nzTheme="outline"></span>
                </button>
                <button nz-button nzShape="circle" nzSize="small" nzDanger (click)="removeItemFromCart(cartItem)">
                  <span nz-icon nzType="close" nzTheme="outline"></span>
                </button>
              </div>
            </div>
            
          }
        </div>
        <div class="w-full flex justify-between p-5 border-t">
          <h3 class="text-xl">Total: ${{ calculateTotal() }}</h3>
          <div>
            <button class="mr-4" nz-button nzType="primary" (click)="confirmAndSendOrder()" [disabled]="!orderCart.length">Send Order</button>
            <button nz-button nzType="default" (click)="proceedToPayment()" [disabled]="!orderCart.length">Payment</button>
          </div>
        </div>
      </div>
  </div>


<!--  Drawer for Order Customization -->
<nz-drawer *ngIf="selectedCartItem"
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="editorVisible"
      nzTitle="Item Customization"
      [nzFooter]="footerTpl"
      (nzOnClose)="cancelEdit(); closeEditor()"
    >
    <ng-container *nzDrawerContent>
      <nz-descriptions [nzColumn]="2" nzTitle="Item Info">
        <nz-descriptions-item nzTitle="Item Name" [nzSpan]="1">{{ selectedCartItem.item.itemName }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="ID" [nzSpan]="1">{{ selectedCartItem.item.itemId}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Base Price" [nzSpan]="1">${{ selectedCartItem.item.itemPrice }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Portion Size" [nzSpan]="1">{{ selectedCartItem.item.itemPortionSize }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Price" [nzSpan]="1">${{ calculateSelectedItemPrice() }}</nz-descriptions-item>
      </nz-descriptions>
      <nz-divider></nz-divider>
      <form>
        <div nz-col nzSpan="14">
          <nz-form-item>
            <nz-form-label><h3>Quantity</h3></nz-form-label>
            <nz-form-control>
              <nz-input-number
                name="seats"
                  type="number"
                  id="seats"
                  [(ngModel)]="selectedCartItem.item.itemQuantity"
                  [nzMin]="1"
               />
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
      <h3>Customize Add-ons</h3>

      <nz-tabset>
        <nz-tab nzTitle="Add">
          <div class="flex">
            @for(option of selectedCartItem.item.options.add; track $index) {
              <div
                [ngClass]="{ 'px-12 py-8 my-4 text-center option-container': true, 'selected-option': isAddOptionSelected(option), 'unselected-option': !isAddOptionSelected(option) }"
                (click)="insertToAddOption(option)"
              >
                <div>{{option.ingredientName}}</div>
                <div class="text-green">+ ${{(option.costPerUnit * option.quantity).toFixed(2)}}</div>
              </div>
          }
          </div>
        </nz-tab>
        <nz-tab nzTitle="No">
          <div class="flex">
          @for(option of selectedCartItem.item.options.no; track $index) {
            <div
            [ngClass]="{ 'px-12 py-8 my-4 text-center option-container': true, 'selected-option': isNoOptionSelected(option), 'unselected-option': !isNoOptionSelected(option) }"
            (click)="insertToNoOption(option)"
          >
            <div>{{option.ingredientName}}</div>
            <div class="text-red">- ${{(option.costPerUnit * option.quantity).toFixed(2)}}</div>
          </div>
          }
          </div>
        </nz-tab>
      </nz-tabset>

      @if (selectedCartItem.item.optionalNotes !== undefined) {
        <div>
          <h3 class="mt-4">Optional Notes</h3>
          <textarea nz-input placeholder="Add notes here" [(ngModel)]="selectedCartItem.item.optionalNotes" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </div>
      }

    </ng-container>


    <ng-template #footerTpl>
      <div style="float: right">
        <button nz-button nzType="primary" (click)="closeEditor()">Save</button>
      </div>
    </ng-template>
  </nz-drawer>

