.order-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu-items-container {
    flex: 1; 
    padding-right: 20px; 
    margin-right: 10px;
    margin-top: 20px;
    height: 450px;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.item-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.item-block:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.menu-item {
    width: calc(10% - 10px); 
    height: 15ch;
    margin: 10px; 
    padding: 15px;
    border: 2px solid #000; 
    border-radius: 8px; 
    background-color: #fff; 
}

.inner-item {
    display: flex;
    flex-direction: column;
}

.menu-item-image {
    max-width: 100%; /* Ensure the image does not exceed its container */
    height: 80px;
    width: 80px;
    border-radius: 8px; 
    margin-bottom: 10px;
}

.order-cart-container {
    flex-basis: 400px; 
    padding-left: 20px;
    margin-left: 10px;
    margin-top: 20px;
    border: 2px solid black;
    height: 750px
}