<h2>Order Management</h2>
<div class="order-container">
    <div class="menu-items-container">
        <div *ngFor="let item of menuItems" class="menu-item">
            <div class="inner-item">
                <img src="{{ item.image }}" alt="{{ item.name }}" class="menu-item-image">
              <span><strong>{{ item.name }}</strong> - {{ item.price }} </span>
              <button nz-button (click)="addToCart(item)">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="order-cart-container">
        <h3>Order Summary</h3>
        <ul>
          <li *ngFor="let cartItem of orderCart">
            {{ cartItem.name }} - {{ cartItem.price }}
          </li>
        </ul>
      
        <h3>Total: {{ calculateTotal() }}</h3>

        <button nz-button (click)="sendOrder()">Send Order</button>
    </div>
</div>
